### Waves 4,5,6

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "/Users/alexandralugova/Documents/GitHub/MH-old-workers/data/datasets/data_clean_w456.csv"
)
indexes = pd.read_csv(
    "/Users/alexandralugova/Documents/GitHub/MH-old-workers/data/datasets/work_quality_indexes.csv"
)

In [3]:
df = df.merge(indexes, on=["country", "year", "isco"], how="inner")

In [4]:
df

,mergeid,wave,year,age,nb_children,partnerinhh,job_status,eurod,eurodcat,country,...,jqi_intensity,jqi_prospects,jqi_working_time_quality,jqi_monthly_earnings_weighted,jqi_skills_discretion_weighted,jqi_social_environment_weighted,jqi_physical_environment_weighted,jqi_intensity_weighted,jqi_prospects_weighted,jqi_working_time_quality_weighted
0,AT-011070-01,4,2011,59.0,2.0,1,Civil servant,2.0,0,Austria,...,33.086420,31.155303,85.271991,1943.392006,81.715087,81.799510,97.635841,33.969729,32.709902,92.131193
1,AT-326780-02,4,2011,57.0,2.0,1,Civil servant,5.0,1,Austria,...,33.086420,31.155303,85.271991,1943.392006,81.715087,81.799510,97.635841,33.969729,32.709902,92.131193
2,AT-413796-01,4,2011,55.0,1.0,1,Civil servant,2.0,0,Austria,...,33.086420,31.155303,85.271991,1943.392006,81.715087,81.799510,97.635841,33.969729,32.709902,92.131193
3,AT-433002-01,4,2011,55.0,1.0,0,Civil servant,6.0,1,Austria,...,33.086420,31.155303,85.271991,1943.392006,81.715087,81.799510,97.635841,33.969729,32.709902,92.131193
4,AT-594803-02,4,2011,57.0,1.0,1,Civil servant,4.0,1,Austria,...,33.086420,31.155303,85.271991,1943.392006,81.715087,81.799510,97.635841,33.969729,32.709902,92.131193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8474,SI-951611-02,6,2015,54.0,2.0,1,Public sector employee,3.0,0,Slovenia,...,38.888890,31.250000,96.875000,554.748656,29.678305,24.060877,40.734421,20.761083,17.093089,49.651581
8475,SI-966058-01,6,2015,57.0,2.0,0,Public sector employee,4.0,1,Slovenia,...,27.450981,42.857143,89.389706,659.185057,43.628426,68.433711,61.778573,19.884055,35.662705,63.517250
8476,SI-974683-01,6,2015,57.0,2.0,1,Public sector employee,1.0,0,Slovenia,...,67.430555,58.653846,91.523438,383.575878,18.783260,35.997276,36.763208,31.137998,29.883727,42.851541
8477,SI-988814-02,6,2015,59.0,3.0,1,Private sector employee,0.0,0,Slovenia,...,56.388888,75.000000,94.000000,2026.117064,118.743503,142.708718,138.440094,92.995347,120.958226,149.977384
8478,SI-993306-01,6,2015,58.0,2.0,1,Private sector employee,0.0,0,Slovenia,...,70.000000,65.625000,87.218750,1362.293571,53.340451,114.322871,120.851356,96.061363,99.247572,129.201552

In [5]:
df.mergeid.nunique()

4968

In [6]:
df.groupby("country").mergeid.nunique()

country
Austria           268
Belgium           721
Czech Republic    355
Denmark           409
Estonia           563
France            339
Germany           655
Italy             470
Slovenia          318
Spain             591
Switzerland       279
Name: mergeid, dtype: int64

In [7]:
df.groupby("year").mergeid.nunique()

year
2011    2034
2013    2868
2015    3577
Name: mergeid, dtype: int64

In [8]:
df.to_csv(
    "/Users/alexandralugova/Documents/GitHub/MH-old-workers/data/datasets/final_w456.csv",
    index=False,
)

### Waves 4,5,6 common individuals

In [9]:
df.mergeid.nunique()

4968

In [10]:
unique_mergeid_w4 = set(df[df.wave == 4]["mergeid"].unique())
unique_mergeid_w5 = set(df[df.wave == 5]["mergeid"].unique())
unique_mergeid_w6 = set(df[df.wave == 6]["mergeid"].unique())
intersection_ids = unique_mergeid_w4.intersection(unique_mergeid_w5).intersection(
    unique_mergeid_w6
)
len(intersection_ids)

947

In [11]:
w456_common = df[df["mergeid"].isin(intersection_ids)].reset_index(drop=True)

isco = w456_common["isco"].value_counts().to_frame().reset_index()
isco = isco[isco["count"] >= 10]
w456_common = w456_common[w456_common["isco"].isin(isco["isco"].unique())].reset_index(
    drop=True
)

In [12]:
w456_common.mergeid.nunique()

947

In [13]:
w456_common.groupby("country").mergeid.nunique()

country
Austria            75
Belgium           201
Czech Republic     74
Denmark           111
Estonia           168
France            116
Germany            13
Italy              69
Slovenia           59
Spain              61
Name: mergeid, dtype: int64

In [14]:
# Delete Germany as too few individuals
w456_common = w456_common[w456_common.country != "Germany"].reset_index(drop=True)

In [15]:
w456_common.to_csv(
    "/Users/alexandralugova/Documents/GitHub/MH-old-workers/data/datasets/data_clean_w456_common.csv",
    index=False,
)

### Waves 4 and 6

In [16]:
w46 = df[(df.wave == 4) | (df.wave == 6)].reset_index(drop=True)

In [17]:
w46.mergeid.nunique()

4497

In [18]:
w46.groupby("country").mergeid.nunique()

country
Austria           262
Belgium           650
Czech Republic    315
Denmark           369
Estonia           537
France            327
Germany           532
Italy             424
Slovenia          297
Spain             505
Switzerland       279
Name: mergeid, dtype: int64

In [19]:
w46.groupby("wave").mergeid.nunique()

wave
4    2034
6    3577
Name: mergeid, dtype: int64

In [20]:
w46.to_csv(
    "/Users/alexandralugova/Documents/GitHub/MH-old-workers/data/datasets/data_clean_w46.csv",
    index=False,
)

### Waves 4 and 6 common individuals

In [21]:
unique_mergeid_w4 = set(w46[w46.wave == 4]["mergeid"].unique())
unique_mergeid_w6 = set(w46[w46.wave == 6]["mergeid"].unique())
intersection_ids = unique_mergeid_w4.intersection(unique_mergeid_w6)
len(intersection_ids)

1114

In [22]:
w46_common = w46[w46["mergeid"].isin(intersection_ids)].reset_index(drop=True)

In [23]:
w46_common.groupby("country").mergeid.nunique()

country
Austria            88
Belgium           240
Czech Republic     89
Denmark           121
Estonia           190
France            133
Germany            16
Italy              89
Slovenia           74
Spain              74
Name: mergeid, dtype: int64

In [24]:
# Delete Germany as too few individuals
w456_common = w456_common[w456_common.country != "Germany"].reset_index(drop=True)

In [25]:
w46_common.to_csv(
    "/Users/alexandralugova/Documents/GitHub/MH-old-workers/data/datasets/data_clean_w46_common.csv",
    index=False,
)